:root {
  --color-dark-Blue: hsl(217, 28%, 15%);
  --color-dark-Blue2: hsl(218, 28%, 13%);
  --color-dark-Blue3: hsl(216, 53%, 9%);
  --color-dark-Blue4: hsl(219, 30%, 18%);
  --color-Cyan: hsl(176, 68%, 64%);
  --color-Blue: hsl(198, 60%, 50%);
  --color-Light-Red: hsl(0, 100%, 63%);
  --color-White: hsl(0, 0%, 100%);
}

* {
  color: var(--color-White);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background: url(images/bg-curvy-desktop.svg) no-repeat;
  background-color: var(--color-dark-Blue2);
}

/* TOP NAVIGATION  */
nav {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.nav-items {
  width: 20%;
}

.nav-item {
  text-decoration: none;
  margin: 5%;
  opacity: 70%;
}

/* HERO SECTION */
.hero-section {
  text-align: center;
  margin: 0 20%;
}

.hero-img {
  max-width: 80%;
}

.hero-title {
  font-size: 2rem;
  line-height: 1.5;
}

.hero-description {
  width: 55%;
  margin: 2% auto;
  line-height: 1.5;
}

.get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--color-Blue);
  border: 0;
  padding: 2% 10%;
  border-radius: 50px;
}

/* Feature Section */

.features-section {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  text-align: center;
  margin: 10%;
  grid-gap: 15%;
}

.feature-one {
  grid-area: one;
}

.feature-two {
  grid-area: two;
}

.feature-three {
  grid-area: three;
}

.feature-four {
  grid-area: four;
}

.feature-description {
  line-height: 1.5;
  margin-top: 3%;
  opacity: 70%;
}

/* Productive Section  */
.productive-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

/* Content Section  */
.productive-heading {
  font-size: 2.5rem;
  width: 70%;
  margin-bottom: 3.5%;
}

.productive-description {
  margin: 2% 1%;
  line-height: 1.5;
}

.img-section {
}

.content-section {
  margin-left: 5%;
}

/* Testimonial Section  */
.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  margin: 10%;
}

/* Card */
.card {
  padding: 10% 5% 5% 5%;
  background-color: var(--color-dark-Blue4);
}

.card-description {
  line-height: 1.5;
  opacity: 80%;
}

/* Profile-Section */
.profile {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  /* width: 100%; */
}

.profile-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Profile Name  */
.profile-name {
  margin-left: 5%;
}

.profile-first-name {
  margin: 0;
}

.profile-position {
  width: 100%;
  font-size: 0.7rem;
  opacity: 70%;
  margin-top: 5%;
}

/* CTA section  */
.cta {
  background-color: var(--color-dark-Blue4);
  text-align: center;
  width: 50%;
  margin: 5% auto;
  padding: 3%;
}

.cta-heading {
  font-size: 2.5rem;
}

.cta-description {
  margin-top: 3%;
  line-height: 1.5;
  opacity: 70%;
}

.email-field {
  color: gray;
  width: 60%;
  border-radius: 15px;
  text-align: center;
}

.get-started2 {
  font-family: "Raleway", sans-serif;
  width: 40%;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--color-Blue);
  border: 0;
  padding: 2% 10%;
  border-radius: 50px;
}

/* Footer Section */
footer {
  background-color: var(--color-dark-Blue3);
  margin: 0;
}

/* ATTRIBUTION SECTION  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
