:root {
  --color-dark-Blue: hsl(217, 28%, 15%);
  --color-dark-Blue2: hsl(218, 28%, 13%);
  --color-dark-Blue3: hsl(216, 53%, 9%);
  --color-dark-Blue4: hsl(219, 30%, 18%);
  --color-Cyan: hsl(176, 68%, 64%);
  --color-Blue: hsl(198, 60%, 50%);
  --color-Light-Red: hsl(0, 100%, 63%);
  --color-White: hsl(0, 0%, 100%);
}

* {
  color: var(--color-White);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background: url(images/bg-curvy-desktop.svg) no-repeat;
  background-color: var(--color-dark-Blue2);
  margin: 0;
}

/* TOP NAVIGATION  */
nav {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.nav-items {
  width: 20vw;
}

.nav-item {
  text-decoration: none;
  margin: 5%;
  opacity: 70%;
}

/* HERO SECTION */
.hero-section {
  text-align: center;
  margin: 0 20%;
}

.hero-img {
  max-width: 80%;
}

.hero-title {
  font-size: 2rem;
  line-height: 1.5;
}

.hero-description {
  width: 55%;
  margin: 2% auto;
  line-height: 1.5;
}

.get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--color-Blue);
  border: 0;
  padding: 2% 10%;
  border-radius: 50px;
}

/* Feature Section */

.features-section {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  text-align: center;
  margin: 10%;
  grid-gap: 15%;
}

.feature-one {
  grid-area: one;
}

.feature-two {
  grid-area: two;
}

.feature-three {
  grid-area: three;
}

.feature-four {
  grid-area: four;
}

.feature-description {
  line-height: 1.5;
  margin-top: 3%;
  opacity: 70%;
}

/* Productive Section  */
.productive-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

/* Content Section  */
.productive-heading {
  font-size: 2.5rem;
  width: 70%;
  margin-bottom: 3.5%;
}

.productive-description {
  margin: 2% 1%;
  line-height: 1.5;
}

.img-section {
}

.content-section {
  margin-left: 5%;
}

/* Testimonial Section  */
.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  margin: 10%;
  position: relative;
}

.testimonial-section::before {
  content: "";
  background: url(images/bg-quotes.png) no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 15%;
  right: 1%;
  z-index: -1;
}

/* Card */
.card {
  padding: 10% 5% 5% 5%;
  background-color: var(--color-dark-Blue4);
}

.card-description {
  line-height: 1.5;
  opacity: 80%;
}

/* Profile-Section */
.profile {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  /* width: 100%; */
}

.profile-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Profile Name  */
.profile-name {
  margin-left: 5%;
}

.profile-first-name {
  margin: 0;
}

.profile-position {
  width: 100%;
  font-size: 0.7rem;
  opacity: 70%;
  margin-top: 5%;
}

/* CTA section  */
.cta {
  background-color: var(--color-dark-Blue4);
  text-align: center;
  width: 50%;
  position: absolute;
  margin: 0 20%;
  padding: 3%;
  top: -40%;
}

.cta-heading {
  font-size: 2.5rem;
}

.cta-description {
  margin-top: 3%;
  line-height: 1.5;
  opacity: 70%;
}

.cta-inputs {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 2% 0;
}

input[type="email"] {
  text-align: center;
}
.email-field {
  flex-grow: 3;
  color: gray;
  border-radius: 15px;
  padding: 1% 0;
}

.get-started2 {
  font-size: 0.8rem;
  font-weight: 700;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  background-color: var(--color-Blue);
  border: 0;
  padding: 1% 0;
  border-radius: 15px;
}

/* Footer Section */
footer {
  background-color: var(--color-dark-Blue3);
  padding: 10% 5% 5% 5%;
  position: relative;
  margin-top: 25%;
}

.container-grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  justify-items: center;
  margin: 5% 0;
}

.intro-part {
  display: flex;
  flex-direction: row;
}

.intro-part img {
  margin-right: 10%;
  width: 8%;
  max-height: 15%;
}

.phone {
  display: flex;
}

.phone img {
  margin-right: 10%;
}

.email {
  display: flex;
  margin-top: 15%;
}

.email img {
  margin-right: 10%;
}

/* About Part  */
.navigation-section p:first-child {
  margin: 0;
}

.terms p:first-child {
  margin: 0;
}

.social-icons {
  width: 100%;
}

.social-icons i {
  margin: 0 3%;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5%;
}

/* ATTRIBUTION SECTION  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES  */
@media (max-width: 1024px) {
  .nav-items {
    width: 30vw;
  }
}

@media (max-width: 825px) {
  .productive-section {
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }
  .productive-heading {
    width: 100%;
    text-align: center;
  }
  .content-section {
    text-align: center;
  }
  .cta {
    top: -60%;
  }

  footer {
    margin-top: 35%;
  }
  .intro-part img {
    width: 25%;
  }
}

@media (max-width: 640px) {
  .navbar-brand img {
    width: 50%;
  }

  .nav-items {
    width: 45vw;
  }

  .hero-section {
    margin: 0 10%;
  }
  .hero-description {
    width: 100%;
  }
  .get-started {
    margin-top: 5%;
    padding: 5% 15%;
  }
  .features-section {
    margin: 15%;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    grid-gap: 3%;
  }

  .productive-section .img-section img {
    margin-top: 10%;
    max-width: 100%;
  }
  .productive-heading {
    width: 100%;
    text-align: left;
  }
  .content-section {
    text-align: left;
  }
  .testimonial-section {
    grid-template-columns: 1fr;
  }
  .testimonial-section::before {
    bottom: 5%;
  }
  .container-grid {
    grid-template-columns: 1fr;
    justify-items: left;
    margin: 5% 0;
    gap: 5%;
  }
  .intro-part img {
    width: 10%;
    max-height: 40%;
    margin-right: 5%;
  }
  .navigation-section {
    margin-top: 15%;
  }

  .terms {
    margin-top: 5%;
  }
  .social-icons {
    text-align: center;
  }
}
